h3 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
    color:silver;
    text-shadow: #fc0 1px 0 10px;
    span {}
}
p {
    color:beige;
    font-size: small;
    
}
.container {
    margin: 1em;
    padding: 2em;
    background-color: darkslategray;
    width: 300px;
    box-shadow: 10px 5px 5px gold;
}
.fancybox {
    border: 5px solid rgb(193, 238, 193);
    margin: 0.5em;
    padding: 0.5em;
    width: 200px;
}
.facts {
border: 2px solid grey;
margin: .5em;
padding: .5em;

}
.wolf {
    border: 2px solid gold;
    width: 300px;
}
li {
    list-style-type: none;
    color: rgb(193, 238, 193);
    
    
}
